<html>
<head>
	<title>README WEBUI : View</title>
</head>
<body>
	<div style="border-top:2px solid #333; border-bottom:1px dashed #334;">
		<h2 style="text-size:16px; border-bottom:1px dashed #334; padding:0; margin-bottom:8px;">WEBUI : View</h2> 
			<blockquote>
				A view, to the WEBUI system, is a portion of code primarily composed of a 
				combination of PHP and XHTML that is included in to a container dynamically 
				through the <b><i>insert_view()</i></b> function in WEBUI.
			</blockquote>
	</div>
	
	Example:
	<div class="some_container">
		<?php insert_view(string NAME, ); ?>
	</div>

</body>
</html>
